*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #e2e8f0;
}

/*  header section  */
header{
    position: fixed;
    width: 100%;
    z-index: 1;
}

div{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    background-color: #0f172a;
}

img{
    width: 300px;
    height: 100px;
    margin-right: 100px;
}

div h2{
    color: white;
    font-size: 40px;
    justify-content: center;
    margin-right: 200px;

}

nav{
    display: flex;
    gap: 20px;
}

li{
    list-style: none;
    gap: 10px;
}

a{
    text-decoration: underline;
    font-size: 20px;
    color: #ffffff;
    
}

/*  main section  */
main{
    padding-top: 140px;
}

article{
    width: 450px;
    margin: 40px auto;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px lightgray;
}

article h2{
    margin-bottom: 30px;
}

label{
    display: inline-block;
    width: 110px;
    font-weight: bold;
}

input,
select{
    padding: 6px;
    border: 1px solid gray;
    border-radius: 5px;
}

button{
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    margin-right: 5px;
    color: white;
    width: 100px;
}

#btn1{
    background-color: #16a34a;
}

#btn2{
    background-color: #dc2626;
}
